html, body{
    background-color: #303030;
    color: white;
}

.fix-bug-radius-corner-input-group-bs4{
    border-top-right-radius: 0.25em !important;
    border-bottom-right-radius: 0.25em !important;
}

/* **************************************************
 * Common CSS style for all display.
 * ************************************************** */

/* Smartphone XS screen */
@media (min-width: 300px){
    .spinner-height{
        top: -20%;
    }

    .card-height{
        margin-top: 15%;
    }
}

/* Smartphone screen */
@media (min-width: 350px){
    .spinner-height{
        top: -30%;
    }

    .card-height{
        margin-top: 15%;
    }
}

/* Smartphone XL screen */
@media (min-width: 481px){
    .spinner-height{
        top: -30%;
    }

    .card-height{
        margin-top: 15%;
    }
}

/* Tablet sreen */
@media (min-width: 768px){
    .spinner-height{
        top: -35%;
    }

    .card-height{
        margin-top: 10%;
    }
}

/* Desktop screen */
@media (min-width: 992px){
    .spinner-height{
        top: -30%;
    }

    .card-height{
        margin-top: 10%;
    }
}

/* XL screen*/
@media (min-width: 1200px){
    .spinner-height{
        top: -25%;
    }

    .card-height{
        margin-top: 7%;
    }
}